*{
	margin:0;
	padding:0;
}




.fondo{
	background-image: url("../img/bg1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;
}



nav{
	background-color: transparent !important;
}


nav{
	ul{
		a.active{
			background: rgba(0,0,0,0.2)
		}
	}
}

#text-background{

	width: 100%;
	height: 90vh;
	position: relative;
}

.text{
	font-size: 60px;
	color: #FFF;
	font-weight: bold;
	z-index: 3;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	p{
		font-size:20px;
	}
}

.foto{
	background-color:#eceff1;
	img{
	  font-size:100%;
	}
}